___
# Capítulo 1 - Manipulação de dados: Básico
## Seção 3 - Filtrando dados
___

In [2]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame

In [6]:
np.random.seed(25)
indice = ['Carlos', 'Samuel', 'Felipe', 'Gustavo', 'Ryan', 'Daniel']
colunas = ['Medico', 'Dia', 'Horário', 'Senha', 'Doença', 'Urgência']
df = DataFrame(np.random.rand(36).reshape((6,6)),
              index=indice,
              columns = colunas)

df

### Comparando com um valor

#### nome_do_objeto < valor

♔┈♔┈♔┈( O QUE ISSO FAZ ) ┈♔┈♔┈♔

Você pode usar operadores de comparação (maior que e menor que) para obter `True` / `False` para todos os registros para indicar a comparação entre cada elemento e o valor de interesse.

In [2]:
df < .2

         coluna 1  coluna 2  coluna 3  coluna 4  coluna 5  coluna 6
linha 1     False     False     False      True     False      True
linha 2     False     False     False     False     False      True
linha 3     False     False      True     False     False     False
linha 4     False     False     False     False     False     False
linha 5     False     False      True     False     False     False
linha 6     False     False     False     False     False     False

### Usando valor escalar para filtrar

#### nome_do_objeto[nome_do_objeto > valor] 

♔┈♔┈♔┈( O QUE ISSO FAZ ) ┈♔┈♔┈♔

Você também pode usar operadores de comparação e valores escalares para filtrar apenas aqueles registros que satisfazem a comparação.

In [3]:
indice = ['linha 1', 'linha 2', 'linha 3', 'linha 4',
          'linha 5', 'linha 6', 'linha 7', 'linha 8']
series_obj = Series(np.arange(8), index=indice)
filtro = series_obj > 6
series_obj[filtro]

linha 8    7
dtype: int64

### Atualizando valores

#### ['índice', 'índice', 'índice'] = valor

♔┈♔┈♔┈( O QUE ISSO FAZ ) ┈♔┈♔┈♔

Você pode atualizar todos os valores de um conjunto de índices.

In [4]:
series_obj['linha 1', 'linha 5', 'linha 8'] = 8
series_obj

linha 1    8
linha 2    1
linha 3    2
linha 4    3
linha 5    8
linha 6    5
linha 7    6
linha 8    8
dtype: int64